
/*colors*/
$white:    #fff !default;
$warning : #ffc107;

/*Font Weight Base*/
$font-weight-light:           100 !default;
$font-weight-normal:          500 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Nav*/

.navbar {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  background-color: #ddeeff;
}

.navbar-custom {
  background-color: #f4feff;
  font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
  box-shadow: 1rem;
  transition: all 0.2s;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.6rem 0.7rem 0.6rem 0.7rem;
  color: #F7F5F5;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link:active {
  color: #FFF;
  opacity: 1;
}

.navbar-custom .nav-item .title {
  text-transform: uppercase;
}

/*.navbar-custom .nav-item .title:first-letter {
  text-transform: uppercase;
}*/

.navbar-custom .navbar-toggler {
  padding: 0;
  border: none;
  color: #FFF;
  font-size: 2rem;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/*Dropdown Menu*/

.navbar-custom .dropdown:hover > .dropdown-menu {
  display: block;
  min-width: auto;
  -webkit-animation: fadeInUp 0.2ms;
  animation: fadeInUp 0.2ms;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.navbar-custom .dropdown-toggle:focus {
  outline: 0;
}

.navbar-custom .dropdown-menu {
  margin-top: 0;
  border: none;
  border-radius: 0.2rem;
 /* background-color: #51469d;*/
}

.navbar-custom .dropdown-item {
  color: #F7F5F5;
  opacity: 0.9;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;

}

.navbar-custom .dropdown-item:hover {
  /*background-color: #51469d;*/
  color: #FFF;
  opacity: 1;
}

.navbar-custom .dropdown-items-divide-hr {
  width: 100%;
  height: 1px;
  margin: 0.75rem auto 0.725rem auto;
  border: none;
  /*background-color: #c4d8dc;*/
  opacity: 0.2;
}

/* end of dropdown menu */

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/*End Nav*/

.submit-form { 
  max-width: 300px;
  margin: auto;
}
.form-group input {
  width: 300;
  marginBottom: 20px;

}

.colored-section{
  background-color: #f4feff;
  color: #fff;
}

.intro {
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  justify-content: center;
}



/* Signin page */
.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
}

.form-signin input[type="text"] border-top{
  left-radius: 0;
  right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.form-signin input[type="password"] border-top{
  left-radius: 0;
  right-radius: 0;
}

.form-signin .form-signin-heading{
  margin-bottom: 10px;
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #007db8;
  text-rendering: optimizeLegibility;
}

.form-signin .form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus{
  z-index: 2;
}

.form-signin .form-group form{
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  padding: 30px;
}

.form-signin .form-group{
  margin-bottom: 20px;
}

.form-signin .btn{
  font-size: 16px;
  font-weight: bold;
  min-width: 100px;
  outline: none !important;
}

/*end signin*/

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 10px 15px 20px;
  margin: 0 auto 25px;
  margin-top: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  transition: .5s ease;
  transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);

}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.card-header {
  transition: .5s ease;
}

.card:footer {
    padding-top:1rem;
    padding-bottom:1rem;
    border-bottom-right-radius: 0;
}

.card:hover {
 /* box-shadow: 8px 8px 5px blue; */ 
  border-color:darken($warning,0%);
  transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
}

.card:header, .card:footer {
  color: darken($warning,15%);
  border-color: darken($warning,0%);
  background-color: lighten($warning,35%);
}


.card-body {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-fix {
  padding: 0;
  border: none;
  white-space: normal;
  color: black;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}
